<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="views/static/css/style.css">
</head>
<body>
<div class="box">
  <h2>Login</h2>
  <form class="form-box" action="/login" method="POST">
    <div class="inputBox">
      <input type="text" placeholder="请输入用户名" autocomplete="off" tabindex="1" name="username" id="username">
    </div>
    <div class="inputBox">
      <input type="password" placeholder="请输入密码" autocomplete="off" tabindex="1" name="password" id="password">
      <label>Password</label>
    </div>
    <input type="submit" name="" value="提交">

  </form>
</div>
</body>