<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<div class="form">
  <form action="/regist" method="POST">
    <label>用户名称：</label>
    <input class="itxt" type="text" placeholder="请输入用户名" autocomplete="off" tabindex="1" name="username" id="username" />
    <br />
    <br />
    <label>用户密码：</label>
    <input class="itxt" type="password" placeholder="请输入密码" autocomplete="off" tabindex="1" name="password" id="password" />
    <br />
    <br />
    <label>确认密码：</label>
    <input class="itxt" type="password" placeholder="确认密码" autocomplete="off" tabindex="1" name="repwd" id="repwd" />
    <br />
    <br />
    <label>电子邮件：</label>
    <input class="itxt" type="text" placeholder="请输入邮箱地址" autocomplete="off" tabindex="1" name="email" id="email" />
    <br />
    <br />
    <label>用户名称：</label>
    <input class="itxt" type="text" placeholder="请输入您的电话" autocomplete="off" tabindex="1" name="number" id="number" />
    <br />
    <br />
    <input type="submit" value="注册" id="sub_btn" />
  </form>
</div>
</body>
</html>